.tournament-participant-list{
    display: flex;
    flex-direction: column;
    width: 66rem;
}

.tournament-participant-list-item{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    background-color: #576179;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.list-item-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-button-common{
    width: 4rem !important;
    height: 2rem !important ;
    background-color: #E68E10 !important;
    margin-right: 10px !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    font-weight: bold !important;
}