.tournament-participant-list{
    display: flex;
    flex-direction: column;
    width: 66rem;
}

.tournament-participant-list-item{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    background-color: #576179;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.list-item-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-button-common{
    width: 4rem;
    height: 2rem;
    background-color: #E68E10;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}