body{
    background-color: #1f1f1f;
}

*{
    margin: 0;
    padding: 0;
}


.wrapper {

    background-color: #1f1f1f;
    color: #f9f9f9;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}


.wrapper-body {
    padding-left: 80px;
    padding-right: 80px;
}


.Our-game-title {
    float: left;
    margin-bottom: 4rem;
}


h1 {
    font-size: 4.5rem;
}


.box-container-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-image {
    position: relative;
}


.box-image {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 5rem;
    border-radius: 10px;

}


.box-image titletwo {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 5rem;
    border-radius: 10px;
}



.container-listimage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.box-listimage {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.box-listimage-title {
    position: absolute;
    width: 100px;
    left: 45px;
    top: 50px;
}


.container-boximage {
    position: absolute;
    width: 225px;
    left: 10px;
    top: 100px;
}

.container-boximage-title {
    position: absolute;
    width: 210px;
    top: 50px;
    left: 30px;
}

.banner-title {
    max-width: 100%;
    position: absolute;
    top: 10px;
    z-index: 0;
    color: #fff;
}


button {
    background-color: coral !important;
}


