body {
    background-color: #272a33;
}
.form-Et {
    width: 80%;
    height: 900px;
    margin: 50px auto;
    background-color: #4e5057;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(250, 172, 29, 0.15);
}

.form-Et .namePages {
    /* width: 100%;
    margin: 0 auto;
    margin-bottom:50px;
    color: #F3950D;
    background-color: #222732;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    position: absolute;
    width: 250px;
    height: 250px;
    left: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.form-Et .namePages::before {
    content: "Edit Tournament";
    position: absolute;
    text-transform: uppercase;
    justify-content: center;
    align-items: center !important;
    line-height: 3;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    width: 160%;
    height: 60px;
    background-color: #F3950D;
    transform: rotate(-45deg) translateY(-30px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form-Et .namePages::after {
    content: '';
    position: absolute;
    bottom : 0 ;
    left : 0 ;
    width: 15px;
    height: 15px;
    background-color: #a57128;
    z-index: -1;
    box-shadow: 235px -235px #a57128;
}

.form-Et .form-input {
    position: absolute;
    top: 15%;
    left: 20%;
}

.form-Et .form-input .form-title {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}
.form-Et .form-input .form-title small {
    position : absolute;
    bottom:-10px;
    left:253px;
    color: red; 
    font-size: 13px;
}
.form-Et .form-input .form-title label {
    color: #fff;
}

.form-Et .form-input .form-title .title {
    width: 200px;
    margin-right: 50px;
    text-align: left;
    color: #fff;

}

.form-Et .form-input .form-title .title span {
    color: red;
}

.btn-EditT {
    background-color: #F3950D !important;
    color: #fff !important;

}
#btn-DeleteT {
    background-color: #F3950D !important;
    color: #fff !important;
    position: absolute !important;
    right: 0;
}

#demo-helper-text-aligned-no-helper {
    color: #fff;
    text-align: left;
}

#datetime-local {
    color: #fff;
}
#check-cutstom {
    color: black;
}
.check-cutstom b{
    color: #fff !important;
}
.small-description {
    bottom: -30px !important;
}
.or {
    position : absolute;
    left:47%;
    bottom:-18px;
    color : #fff;
}